/*
GERAL
*/

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

h1, h2, h3 {
    font-weight: 700;
    font-family: "ROBOTO SLAB", Helvetica, Arial, sans-serif;
}

.btn {
    color: #f1f1f1;
    background-color: #8f3faf;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 3px;
    border-color: #887676;
    font-size: .9em;
}

.btn:hover {
    background-color: #f1f1f1;
    color: #8f3faf;
}

/*
NAVEGAÇÃO
*/

nav {
    background-color: #4d4d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1px;
}

nav ul li #logo {
    font-family: Pacifico, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #f1f1f1;
    pointer-events: none;
}


nav ul {
    text-align: center;
    align-items: center; 
    display: flex;
    flex-direction: column;
}

nav ul li {
    text-align: center;
    align-items: center;
    padding: 0px 20px 10px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #f1f1f1;
}

nav ul li a:hover {
    background-color: honeydew;
    padding: 5px;
    border-radius: 5px;
    color: #4d4d4d;
}

/*
CABEÇALHO
*/
#header {
    display: flex;
    flex-direction: column;
    background-image: url('../img/pc.jpg');
    background-position: center;
    background-size: cover;
    color: #f1f1f1;
    align-items: center;
    text-align: center;
    position: relative;

}

#header p {
    margin-bottom: 1em;
    margin-top: 8em;
    font-size: 40px;
}

  
.text {
    background-color: white;
    color: black;
    font-size: 3vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    position: absolute; /* Position text */
    mix-blend-mode: screen;
}
/*
SOBRE
*/

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #8f3faf;
    color: #f1f1f1;
    padding: 0 20px 20px;  
}

#sobre .btn {
    background-color: #f1f1f1;
    color: #4d4d4d;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: purple;
    color: #f1f1f1;
    padding: 20px;
}

footer p {
    font-size: large;
}
/*
Media Queries
*/

@media screen and (min-width: 768px) {
    /*
    NAVEGATION
    */
    
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav > a {
        flex-direction: row;
    }
    nav ul {
        flex-direction: row;
        width: 70%;
    }

    nav ul li #logo {
        padding-right: 450px;
    }

    /*
    HEADER
    */
    #header {
        height: 650px;
        justify-content: center;
    }
    /*
    SOBRE
    */

    #sobre {
        height: 250px;
        min-height: 250px;
        justify-content: center;
    }

    /*
    TECNOLOGIAS
    */
    #tecnologias {
        height: 100%;
        justify-content: center;
    }

}